<div id="items-index">
	<div class="row">
		<div class="col-md-3 col-sm-3">
			
		<h3>USB Cable</h3>
		<%= image_tag('covers/2.jpg') %>
		<%= link_to 'Read More', item_path(1), class:'btn btn-primary' %>
		</div>

		<div class="col-md-3 col-sm-3">
			<h3>Micro Board</h3>
		<%= image_tag('covers/1.jpg') %>
		<%= link_to 'Read More', item_path(1), class:'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3>Vintage Synthesizer</h3>
		<%= image_tag('covers/8.jpg') %>
		<%= link_to 'Read More', item_path(1), class:'btn btn-primary' %>
		</div>
	</div>
	</div>

	<div id="items-index">
	<div class="row">
<div class="col-md-3 col-sm-3">
	<h3>USB Stick</h3>
		<%= image_tag('covers/7.jpg') %>
		<%= link_to 'Read More', item_path(1), class:'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
			<h3>Iphone Cable</h3>
		<%= image_tag('covers/5.jpg') %>
		<%= link_to 'Read More', item_path(1), class:'btn btn-primary' %>
		</div>
		<div class="col-md-3 col-sm-3">
		</div>
	</div>
</div>